*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 70%;
}

@media only screen and (max-height: 800px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 57%;
  }
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 153, 0, 0)), to(rgba(255, 0, 200, 0))), url("../img/Fondo.jpg");
  background-image: linear-gradient(90deg, rgba(255, 153, 0, 0), rgba(255, 0, 200, 0)), url("../img/Fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  padding: 3rem;
}

@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}

video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
}

@media only screen and (max-width: 1000px) {
  .container {
    border-radius: 0;
  }
}

@media (max-width: 650px) {
  .container .trail {
    /*
            .box1 > span {display:none;}
            .box2 > span {display:none;}
            .box3 > span {display:none;}
            .box4 > span {display:none;}
            .box5 > span {display:none;} */
  }
  .container .trail .box1, .container .trail .box2, .container .trail .box3, .container .trail .box4, .container .trail .box5 {
    text-indent: -9999px;
    line-height: 0;
  }
  .container .trail .box1:after, .container .trail .box2:after, .container .trail .box3:after, .container .trail .box4:after, .container .trail .box5:after {
    text-indent: 0;
    display: block;
    line-height: initial;
  }
  .container .trail .box1:after {
    content: '1';
  }
  .container .trail .box2:after {
    content: '2';
  }
  .container .trail .box3:after {
    content: '3';
  }
  .container .trail .box4:after {
    content: '4';
  }
  .container .trail .box5:after {
    content: '5';
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500%;
  height: 100%;
  -webkit-transition: all .60s ease-in;
  transition: all .60s ease-in;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  /*.box1 {@include color_render(rgba(255, 0, 0, $colortr), rgba(255, 51, 0, $colortr), rgb(255, 255, 255))}
    .box2 {@include color_render(rgba(255, 51, 0, $colortr), rgba(255, 102, 0, $colortr), rgb(255, 255, 255))}
    .box3 {@include color_render(rgba(255, 102, 0, $colortr), rgba(255, 153, 0, $colortr), rgb(255, 255, 255))}
    .box4 {@include color_render(rgba(255, 153, 0, $colortr), rgba(255, 204, 0, $colortr), rgb(255, 255, 255))}
    .box5 {@include color_render(rgba(255, 204, 0, $colortr), rgba(255, 255, 0, $colortr), rgb(255, 255, 255))}*/
}

@media only screen and (max-width: 1000px) {
  .slider {
    height: 100vh;
  }
}

.slider .box {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 650px) {
  .slider .box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

.slider .box .change {
  z-index: 100000;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  padding: 30px 0px 0px 30px;
  height: 100%;
}

.slider .box .change button {
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border: none;
  width: 50px;
  height: 25px;
  margin: 0px 0px 0px 0px;
  opacity: 0.6;
  border-radius: 30%;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slider .box .change button:hover {
  opacity: .8;
}

.slider .box .change button:focus {
  outline: none;
  border: none;
}

.slider .box .change button#languaje-en {
  background-image: url(../img/english.png);
}

.slider .box .change button#languaje-es {
  background-image: url(../img/spanish.png);
}

.slider .box .change button#home {
  background-image: url(../img/home.png);
  width: 20px;
  height: 20px;
}

.slider .box .bg {
  padding: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  width: 65%;
  -webkit-transform: skewX(7deg);
          transform: skewX(7deg);
  position: absolute;
  height: 100%;
  left: -10%;
  padding-left: 20rem;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  /* @media only screen and (max-width: 800px) {
                width: 65%;
            } */
}

@media only screen and (max-width: 650px) {
  .slider .box .bg {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 100%;
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

.slider .box .bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: inherit;
  pointer-events: none;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
}

@media only screen and (max-width: 650px) {
  .slider .box .bg::before {
    width: 120%;
    bottom: 0;
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

.slider .box .details {
  padding: 5rem;
  padding-left: 10rem;
  z-index: 100;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
}

@media only screen and (max-width: 650px) {
  .slider .box .details {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
    text-align: center;
    padding: 2rem;
    -webkit-transform: translateY(-9rem);
            transform: translateY(-9rem);
  }
}

.slider .box .details h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.slider .box .details p {
  display: inline-block;
  font-size: 1.3rem;
  color: black;
  margin-bottom: 2rem;
  margin-right: 8rem;
  text-align: justify;
}

@media only screen and (max-width: 650px) {
  .slider .box .details p {
    margin-right: 0;
  }
}

.slider .box .details button {
  padding: 1rem 3rem;
  color: black;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slider .box .details button:hover {
  opacity: .8;
}

.slider .box .details button:focus {
  outline: none;
  border: none;
}

.slider .box .details a {
  color: black;
  text-decoration: none;
}

.slider .box .details#education {
  grid-column: none;
  grid-row: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .box .details#education p {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  -webkit-column-rule: 1px solid #fff;
          column-rule: 1px solid #fff;
  -webkit-column-width: 50%;
          column-width: 50%;
}

.slider .box .details#skills {
  text-align: center;
}

.slider .box .details#skills p {
  font-size: 2rem;
  margin: 0px;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .slider .box4 .details div button {
    visibility: hidden;
  }
}

.slider .box.education {
  grid-column: none;
  grid-row: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .box1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 153, 0, 0.95)), to(rgba(255, 217, 0, 0.95)));
  background-image: linear-gradient(90deg, rgba(255, 153, 0, 0.95), rgba(255, 217, 0, 0.95));
}

.slider .box1 .illustration .inner {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider .box1 .illustration .inner::after, .slider .box1 .illustration .inner::before {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider .box1 button {
  background-color: white;
}

.slider .box2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 217, 0, 0.95)), to(rgba(43, 255, 0, 0.95)));
  background-image: linear-gradient(90deg, rgba(255, 217, 0, 0.95), rgba(43, 255, 0, 0.95));
}

.slider .box2 .illustration .inner {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider .box2 .illustration .inner::after, .slider .box2 .illustration .inner::before {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider .box2 button {
  background-color: white;
}

.slider .box3 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(43, 255, 0, 0.95)), to(rgba(0, 255, 234, 0.95)));
  background-image: linear-gradient(90deg, rgba(43, 255, 0, 0.95), rgba(0, 255, 234, 0.95));
}

.slider .box3 .illustration .inner {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider .box3 .illustration .inner::after, .slider .box3 .illustration .inner::before {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider .box3 button {
  background-color: white;
}

.slider .box4 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 255, 234, 0.95)), to(rgba(17, 0, 255, 0.95)));
  background-image: linear-gradient(90deg, rgba(0, 255, 234, 0.95), rgba(17, 0, 255, 0.95));
}

.slider .box4 .illustration .inner {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider .box4 .illustration .inner::after, .slider .box4 .illustration .inner::before {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider .box4 button {
  background-color: white;
}

.slider .box5 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 0, 255, 0.95)), to(rgba(255, 0, 200, 0.95)));
  background-image: linear-gradient(90deg, rgba(17, 0, 255, 0.95), rgba(255, 0, 200, 0.95));
  color: white;
}

.slider .box5 .illustration .inner {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider .box5 .illustration .inner::after, .slider .box5 .illustration .inner::before {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider .box5 button {
  background-color: white;
}

.slider .box5 .details p {
  color: white;
}

.slider .illustration {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-width: 650px) {
  .slider .illustration {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slider .illustration img {
  width: 80%;
  height: auto;
  border-radius: 3rem;
  margin: 30px 0px 0px 30px;
}

@media only screen and (max-width: 650px) {
  .slider .illustration img {
    width: 70%;
    border-radius: 1rem;
    margin: 25px 0px 0px 25px;
  }
}

.slider .illustration img#photo {
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  margin: 10px 0px 0px 20px;
}

@media only screen and (max-width: 650px) {
  .slider .illustration img#photo {
    width: 70%;
    border-radius: 1rem;
    margin: 15px 0px 0px 25px;
  }
}

.slider .illustration div {
  height: 30rem;
  width: 30rem;
  border-radius: 3rem;
  position: relative;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

@media only screen and (max-width: 650px) {
  .slider .illustration div {
    height: 20rem;
    width: 20rem;
  }
}

.slider .illustration div::after, .slider .illustration div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider .illustration div::after {
  -webkit-transform: translate(4rem, -1rem);
          transform: translate(4rem, -1rem);
}

.slider .illustration div::before {
  -webkit-transform: translate(2rem, -2rem);
          transform: translate(2rem, -2rem);
}

.prev,
.next,
.trail {
  z-index: 10000;
  position: absolute;
}

.prev,
.next {
  width: 4rem;
  cursor: pointer;
  opacity: .2;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 650px) {
  .prev,
  .next {
    display: none;
  }
}

.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  top: 50%;
  left: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.trail {
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

@media only screen and (max-width: 650px) {
  .trail {
    width: 90%;
    bottom: 13%;
  }
}

.trail div {
  padding: 2rem;
  border-top: 3px solid black;
  cursor: pointer;
  opacity: .3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.trail div:hover {
  opacity: .6;
}

@media only screen and (max-width: 650px) {
  .trail div {
    padding: 1rem;
  }
}

.active {
  opacity: 1 !important;
}
/*# sourceMappingURL=style.css.map */